*{
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

:root{
  font-size: 62.5%;

  --hue:240;

  --color-text-home: hsl(var(--hue), 9%, 89%);
  --color-paragraph-home:  hsl(0, 0%, 100%);

  font-family: 'Roboto', sans-serif;

}

body{
  font-size: 1.6rem;
  background-color: transparent;
}

section{
  margin: 18.5rem 10.2rem auto;

  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

h1{

  font-family: 'Roboto', sans-serif;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 6rem;
  color: var(--color-text-home);
}

p{
  width: 64.8rem;

  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.88rem;
  color: var(--color-paragraph-home)
}


